<!-- Git 그래프 컴포넌트 -->
<div class="git-graph-container">
    <div class="git-graph">
        {% for commit in graph_data %}
        <div class="commit-node">
            <div class="commit-info">
                <div class="commit-hash">{{ commit.hash }}</div>
                <div class="commit-message">{{ commit.message }}</div>
                <div class="commit-meta">
                    <span class="commit-author">{{ commit.author }}</span>
                    <span class="commit-date">{{ commit.date }}</span>
                </div>
                {% if commit.branches %}
                <div class="commit-branches">
                    {% for branch in commit.branches %}
                    <span class="branch-tag">{{ branch }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if not loop.last %}
            <div class="commit-line"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div> 